
<h2><%= @story.title %></h2>
<% if @story.images.any? %>
  <ul class="list-unstyled">
    <% @sentences.each do |sentence| %>
      <li><%= sentence.text %></li>
    <% end %>
  </ul>
<% else %>
  <p>Add to this tale!!</p>
<% end %>


<%= link_to "Contribute", story_images_path(@story) %>
<hr>

<h4 class="image-label">
  Add an Image
</h4>
<div class="submit-image">
  <%= render 'images/form' %>
</div>
