<% if @story.images.any? %>
  <% @images.each do |image| %>
  <%= image_tag image.image(:medium) %>
  <br>
  <%= link_to "Explore your inspiration", story_image_path(@story, image)%>
  <hr>
  <% end %>
<% else %>
  <h4>No images</h4>
<% end %>
